.container {
    width: 100%;
    height: 100%;
    padding: 10%;
}

.dashboardCard {
    margin: 5% 1% 5% 1%;
    padding: 10px;
    text-align: center;
    background-color: #d3d3d3;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    height: 80px;
}