<div class="container">
    <div class="row">
        <div class="col">
            <div class="dashboardCard">
                <p>Card 1</p>
            </div>
        </div>
        <div class="col">
            <div class="dashboardCard">
                <p>Card 2</p>
            </div>
        </div>
        <div class="col">
            <div class="dashboardCard">
                <p>Card 3</p>
            </div>
        </div>
        <div class="col">
            <div class="dashboardCard">
                <p>Card 4</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="dashboardCard">
                <p>Card 5</p>
            </div>
        </div>
        <div class="col-6">
            <div class="dashboardCard">
                <p>Card 6</p>
            </div>
        </div>
    </div>
</div>